:root {
  /* rilakkuma mode */
  --rilakkuma-primary: #bf7e12;
  --rilakkuma-active: #fdd001;
  --rilakkuma-chat-bg: #faeee2;
  --rilakkuma-login-bg: url('@/assets/images/login_rilakkuma.png');

  /* korilakkuma mode */
  --korilakkuma-primary: #f4e7c4;
  --korilakkuma-active: #f09eb3;
  --korilakkuma-text: black;
  --korilakkuma-chat-bg: #faf5e2;
  --korilakkuma-login-bg: url('@/assets/images/login_korilakkuma.png');

  /* chairoikoguma mode */
  --chairoikoguma-primary: #a16a44;
  --chairoikoguma-active: #4e3a38;
  --chairoikoguma-hover-text: white;
  --chairoikoguma-chat-bg: #faece2;
  --chairoikoguma-login-bg: url('@/assets/images/login_chairoikoguma.png');

  /* conversation mode */
  --conversation-primary: theme('colors.primary');
  --conversation-active: theme('colors.active');
  --conversation-login-bg: url('@/assets/images/login_conversation.svg');

  /* default mode */
  --primary: var(--rilakkuma-primary);
  --active: var(--rilakkuma-active);
  --text: white;
  --hover-text: theme('colors.dark.500');
  --chat-bg: var(--rilakkuma-chat-bg);
  --chat-user: var(--rilakkuma-primary);
  --login-bg: var(--rilakkuma-login-bg);
}
