@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import './variable';
@import './theme';

.meta-primary {
  color: var(--text);
  background-color: var(--primary);

  &:hover {
    color: var(--hover-text);
    background-color: var(--active);
  }
}

.meta-primary-text-hover {
  color: theme('colors.dark.500');

  &:hover {
    color: var(--primary);
  }
}

.meta-primary-bg {
  color: var(--text);
  background-color: var(--primary);
}

.meta-primary-text {
  color: var(--primary);
}

.meta-primary-border {
  border-color: var(--primary);
}

.meta-active-bg {
  color: var(--text);
  background-color: var(--active);
}

.meta-chat-user {
  background-color: var(--chat-user);
}

.scroll-area {
  &::-webkit-scrollbar {
    @apply w-7px bg-white;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-dark-300 rounded-20px;
  }
}
